#all {
    background-color: rgb(0, 0, 0);
    font-family: century gothic;
  }
  
#heading{
    position: absolute;
    color: rgb(255, 255, 255);
    top:0.5cm;
    left: 3.5cm;
    padding: 10px;
    text-align:center;
  }
#TOP
{
    position: absolute;
    left: 38%;
    top: 2cm;
    color: rgb(255, 255, 255);
}
#login-form
{
    position: absolute;
    top: 30%;
    left: 38%;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10%;
    padding: 80px 50px;
    animation: border 5s ease infinite;
}
@keyframes border
{
    0%
    {
        border: 2px solid violet;
        box-shadow: 0px 0px 30px violet;
    }
    20%
    {
        border: 2px solid indigo;
        box-shadow: 0px 0px 30px indigo;

    }
    40%
    {
        border: 2px solid blue;
        box-shadow: 0px 0px 30px blue;

    }
    60%
    {
        border: 2px solid green;
        box-shadow: 0px 0px 30px green;

    }
    80%
    {
        border: 2px solid yellow;
        box-shadow: 0px 0px 30px yellow;

    }
    100%
    {
        border: 2px solid orange;
        box-shadow: 0px 0px 30px orange;

    }
}

#username
{
    width: 8cm;
    border: 2px solid rgb(197, 192, 192);
    align-items: center;
}
#Sign-up
{
    position: absolute;
    left: 4cm;
    font-weight: bold;
    text-decoration: none;  
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
#Sign-up:hover{
    transition: 250ms ease-in;
    background-color: white;
    color: black;
}

