    #all{
    background-color: black;
   color: white;
    height:100vh;
   
}
#logout
{
    position: absolute;
    right: 1cm;
    top: 1cm;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;

    font-weight: bold;
}
#logout:hover
{
    transition: 250ms ease-in;
    background-color: rgb(129, 127, 127);
    color: black;
}
.link
{
    text-decoration: none;
    color:black;
}
.home
{
  font-family: century gothic;  
  position: absolute; 
  right:3%;
  top:2%;
  border: 1px solid black transparent;
  padding: 5px 10px;
  font-size:20px;
}
.home:hover
{
    background-color: transparent;
    box-shadow: 0px 0px 15px black;
    transition: 1s;
    border-radius: 5px;
}
.therapy
{
    font-family: century gothic;  
    position: absolute; 
    right:9%;
    top:2%;
    border: 1px solid black transparent;
    padding: 5px 10px;
    font-size:20px; 
}
.therapy:hover
{
    background-color:transparent;
    box-shadow: 0px 0px 5px black;
    transition: 1s;
    border-radius: 5px; 
}
.heading
{
    font-family:Century Gothic;
    position: absolute;
    left: 35%;
    top: 2%;
    padding-inline: 10px;
    border-radius:50px;
    letter-spacing: 0.5cm;
    font-size: 30px;
    animation: border 5s ease infinite;

}
.heading:hover
{
  background-color: rgba(106, 100, 100, 0);
  box-shadow: 0px 0px 15px rgb(0, 0, 0);
  transition: 0.5s ease-in;

}
#greet_user
{
    font-family: century gothic;
    position: absolute;
    top: 10%;
    left:40%;
    padding-inline: 10px;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 0cm;
    font-size: 20px;
    font-weight: bold;
}
@keyframes border
{
    0%
    {
        border: 2px solid violet;
        box-shadow: 0px 0px 30px violet;
    }
    20%
    {
        border: 2px solid indigo;
        box-shadow: 0px 0px 30px indigo;

    }
    40%
    {
        border: 2px solid blue;
        box-shadow: 0px 0px 30px blue;

    }
    60%
    {
        border: 2px solid green;
        box-shadow: 0px 0px 30px green;

    }
    80%
    {
        border: 2px solid yellow;
        box-shadow: 0px 0px 30px yellow;

    }
    100%
    {
        border: 2px solid orange;
        box-shadow: 0px 0px 30px orange;

    }
}
.meditate
{
    position: absolute;
    left:23%;
    top: 20%;
   font-family: century gothic;
    font-size: 30px; 
    word-spacing: 10px;
    display:inline-block;
    border: 1px solid black transparent;
    padding-inline: 10px;
    border-radius: 30px;
}
.meditate:hover
{
    background-color:transparent;
    box-shadow: 0px 0px 20px black;
    transition:0.5s ease-in;
}
.meditate1
{
    position: absolute;
    left:23%;
    top: 31%;
   font-family: century gothic;
    font-size: 30px; 
    word-spacing: 10px;
    display:inline-block;
    border: 1px solid black transparent;
    border-radius: 30px;
    padding-inline: 10px;
}
.meditate1:hover
{
    background-color:transparent;
    box-shadow: 0px 0px 20px black;
    transition: 0.5s ease;
}
.med1
{
    position: absolute;
    top: 21%;
    width: 300px;
    height: 300px;
    border: 1px solid black transparent;
}
.med:hover
{
    border:1px solid black transparent;
    border-radius: 25px;
    
    transition:500ms ease;
    position: relative;
    transform:rotate(1deg);
    box-shadow: 3px 5px 3px rgb(12, 12, 12);
}
.meditate2
{
    position: absolute;
    left:23%;
    top: 42%;
   font-family: century gothic;
    font-size: 30px; 
    word-spacing: 10px;
    display:inline-block;
    border: 1px solid black transparent;
    padding-inline: 10px;
    border-radius: 30px;
}
.meditate2:hover
{
    background-color:transparent;
    box-shadow: 0px 0px 20px black;
    transition:0.5s ease-in;
}
.vid
{
  font-family:century gothic;
  font-size:30px;
  font-weight: bold;
  letter-spacing: 20px;
  position:absolute;
  left: 30%; 
  top:50%;
  padding: 10px;
  border:1px solid black transparent;
  border-radius:50px;
}
.vid:hover
{
        background-color: rgba(106, 100, 100, 0);
        box-shadow: 0px 0px 10px rgb(0, 0, 0);
        transition: 0.5s ease-in;
}
.brightside
{
    position:absolute;
    top:60%;
    left:36%;
}
.meddis
{
    font-family: century gothic;
    position:absolute;
    font-weight:bold;
    font-size: 20px;
    top: 95%;
    left: 20%;
}
.bold
{
    position: relative;
    font-size: 40px;
    border: 1px solid black transparent;
    padding: 10px;
    border-radius: 20px;
}
.bold:hover{
    background-color: transparent;
    box-shadow: 0px 0px 10px black;
    transition: 1s ease;
}
.recco
{
    font-family: century gothic;
    font-size:30px;
    position:absolute;
    top:10%;
}
.btn-group
{
    position: absolute;
    left: 20cm;
}









